<form action="/users/login" method="post">
  <h2>Login</h2>
  <label for="nameInput">Username</label>
  <input name="name" type="text" id="nameInput">

  <label for="passwordInput">password</label>
  <input type="password" name="password" id="passwordInput">

  <button type="submit">Login!</button>
  <a href="/users/signup">Sign up instead</a>
</form>