<form action="/blogs" method="post">
  <h2>Create New Post</h2>
  <label for="titleInput">Title</label>
  <input name="title" type="text" id="titleInput">

  <label for="contentInput">Content</label>
  <input type="text" name="content" id="contentInput">

  <button type="submit">Login!</button>
  <a href="/users/signup">Sign up instead</a>
</form>