<form action="/users/signup" method="post">
  <h2>Sign UP</h2>
  <label for="nameInput">Username</label>
  <input name="name" type="text" id="nameInput">

  <label for="passwordInput">password</label>
  <input type="password" name="password" id="passwordInput">

  <button type="submit">Sign Up!</button>
  <a href="/users/login">Login instead</a>
</form>